/* //No structure Directly Write Css Code */

div{
    background-color: beige;
    text-align: center;
    color: rgb(255, 0, 0);
    width: 250px;
    font-style: oblique;
}

div p{
  color: rgb(0, 30, 255);
}

h1{
    font-family: cursive;
    color: rgb(6, 251, 18);
}